version: '3.3'

services:
  db:
    image: postgres:12.4
    environment: 
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    env_file:
      - .env
    volumes:
      - db_volume:/var/lib/postgresql/data
    restart: "on-failure"

  web:
    build: .
    volumes:
      - static:/code/static
      - media:/code/media
    depends_on:
      - db
    env_file:
      - .env
    restart: "on-failure"

  nginx:
    image: nginx:12.8
    ports:
      - 8080:80
    volumes:
      - static:/var/html/static
      - media:/var/html/media
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    restart: "on-failure"

volumes:
  db_volume:
  static:
  media:
