{% load static %}
{% load tags %}

<div class="card" data-id="{{ recipe.pk }}">
    <a href="{% url 'single-recipe' recipe.author recipe.slug %}" class="link" target="_blank"><img src="{{ recipe.image.url }}" alt="{{ recipe.author.name }}" class="card__image"></a>
    <div class="card__body">
        <a class="card__title link" href="{% url 'single-recipe' recipe.author recipe.slug %}" target="_blank">{{ recipe.title }}</a>
        <ul class="card__items">
            {% for tag in recipe.tags.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.style }}">{{ tag.name }}</span></li>
            {% endfor %}
        </ul>
        <div class="card__items card__items_column">
            <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
            <p class="card__text"><span class="icon-user"></span> <a href="{% url 'user-page' recipe.author.username %}" style="color: black">{{ recipe.author.username }}</a></p>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="card__footer">
        {% include 'includes/buttons/recipe_purchase_button.html' %}
        {% include 'includes/buttons/recipe_favorite_button.html' %}
    </div>
    {% endif %}
</div>